{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Meter</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!--<link rel="icon" href="{% static 'assets/img/ecowise_logo.png' %}">-->
    <!--<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">-->
    <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> Include jQuery -->
    <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</head>
<body>
    <h1> Smart Energy Meter </h1>
    <h2 id="vol"> Volatge: {{data.voltage}} </h2>
    <h2 id="cur"> Current: {{data.current}} </h2>
    <h2 id="pwr"> Power : {{data.power}}</h2>
    <h2 id="eng"> energy : {{data.energy}}</h2>
    <h2 id="pwf"> factor : {{data.powerfactor}}</h2>
    <h2 id="cst"> cost : {{data.cost}}</h2>
    <h2 id="utc"> unixtime : {{data.unixtime}}</h2>
    <!--<script>
        var deviceData = {
            voltage:{{data.voltage}},
            current:{{data.current}},
            power:{{data.power}},
            energy:{{data.energy}},
            cost:{{data.cost}},
            unixtime:{{data.unixtime}}
        }
    </script>-->
    <!--<script src="{% static 'assets/js/main.js' %}"></script>-->
    <script>
        function updateDashboard() {
            console.log("updateDashboard called");
            var route = "/meter/updateDashboard";
            $.ajax({
                url: route,
                type: 'GET',
                success: function(result) {
                    console.log("Ajax request successful");
                    $('#vol').text('Voltage: ' + result['voltage']);
                    $('#cur').text('Current: ' + result['current']);
                    $('#pwr').text('Power: ' + result['power']);
                    $('#eng').text('Energy: ' + result['energy']);
                    $('#pwf').text('factor: ' + result['powerfactor']);
                    $('#cst').text('Cost: ' + result['cost']);
                    $('#utc').text('Unixtime: ' + result['unixtime']);
                },
                error: function(xhr, status, error) {
                    console.error("Ajax request failed:", status, error);
                }
            });
        }

        // Call the updateDashboard function every 2 seconds
        setInterval(updateDashboard, 5000);
    </script>
</body>	
</html>