body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #ff7f00; /* Dark Orange Color */
    margin-bottom: 20px;
}

.data h2 {
    color: #333333;
    margin: 10px 0;
}

#vol, #cur, #pwr, #eng, #pwf, #cst, #utc {
    color: #007bff; /* Blue color for data values */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #007bff; /* Blue color */
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
